# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

#cache
.turbo
.swc

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*

# build
out/
build/
dist/

# plasmo - https://www.plasmo.com
.plasmo

# bpp - http://bpp.browser.market/
keys.json

# typescript
*.tsbuildinfo

# editors
.idea/
.vscode/

# wrangler
.wrangler/