name: "Build Extension"

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      publish:
        description: "Publish to stores"
        type: boolean
        default: false

env:
  ARTIFACT_NAME: extension

jobs:
  build:
    name: Build extension
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup NodeJS
        uses: actions/setup-node@v5
        with:
          node-version: 20

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: "latest"

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm exec tsc && pnpm run lint

      - name: Build extension
        run: pnpm run build:all

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: build/*-prod.zip

  create-release:
    name: Create GitHub release
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.ref_type == 'tag' && startsWith(github.ref_name, 'v') }}
    permissions:
      actions: read
      contents: write
    steps:
      - name: Download built extensions
        uses: actions/download-artifact@v5

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ env.ARTIFACT_NAME }}/*-prod.zip

  publish:
    name: Publish to stores
    runs-on: ubuntu-latest
    needs: build
    permissions:
      actions: read
      contents: read
    if: ${{ inputs.publish == true || github.ref_type == 'tag' && startsWith(github.ref_name, 'v') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download built extensions
        uses: actions/download-artifact@v5

      - name: Publish to store
        uses: PlasmoHQ/bpp@v3
        with:
          keys: ${{ secrets.SUBMIT_KEYS }}
          chrome-file: ${{ env.ARTIFACT_NAME }}/chrome-mv3-prod.zip
          firefox-file: ${{ env.ARTIFACT_NAME }}/firefox-mv3-prod.zip
